@charset "UTF-8";
html {font-size: 15px;scroll-behavior: smooth;}
body {font-family: 'Open Sans', sans-serif;color: #111111;margin: 0 !important; padding: 0 !important;}
body.black{width: 100vw;height: 100vh;background: #202126 !important;color: white;flex-direction: column;}
input:focus{ outline:0;}
button:focus{outline:0;}
a{text-decoration: none !important;content: ""}
input{cursor: text;}
button{cursor: pointer;}
.pFixed{position: fixed;top: 0;left: 0;width: 100%;height: 100%;}
.dNone{display: none;}
#aCarateres{position: fixed;top: 10px;right: 10px;background: white;font-size: 15px;display: flex;align-items: center;padding: 2px;box-shadow: 1px 1px 4px;border-radius: 3px;}#iAcart{margin: 0px 5px;cursor: pointer;}
#info{position: fixed;top: 35px;right: 10px;background: #ffffffd6;border-radius: 3px;border: 1px #9e9e9e solid;list-style: none;margin: 0;padding: 2px;box-shadow: 1px 1px 2px;}
/*---------------------------------------------------------------------*/
/*html{overflow: -moz-scrollbars-none;scroll-width: none;margin-right: 20px;}
::-webkit-scrollbar{width: 0;background: transparent;}
*/   /**{border: 1px red solid}*/
.body{background: #303134;min-height: 100vh;color: white; padding-top: 60px !important}
.IrAriba{position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 30;
    font-size: 400%;
    color: white;
    text-shadow: 2px 2px 5px black;}
#NavSeries .col-12{display: flex;}
#NavSeries .col-12 > a{margin: 5px;
    background: #343a40;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 10px;
    border: 1px #7b7d80 solid;
    box-shadow: 0px 2px 3px #0d6efd;}
#NavSeries .icon{width: 50px;height: 50px;}
#Caruselheader{height:calc(100vh - 60px);display: flex;}
#Caruselheader .carousel-item{height: 100%;}
#Caruselheader .carousel-item > img{height: 100%;}
#Caruselheader .carousel-caption h2{display: flex;
    align-items: center;
    flex-direction: column;}
#Caruselheader .carousel-caption img{    width: 100px;
    height: 150px;
    margin: 18px;}
#Caruselheader .carousel-caption{background: #000000b3;}


/*Estilo de las paginas de peliculas*/
.headerPelis{height: calc(100vh - 60px);
    background: url(../img/fondo.jpg) no-repeat top center;
    display: flex;
    background-size: cover;
    width: 100vw;}
.headerPelis .content{display: flex;
    background: #000000c9;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;}
.headerPelis .content > img{width: 250px;margin-top: auto;}
.headerPelis .content > div{margin-bottom: 20px;}
.headerPelis .content > div h1{font-size: 300%;}

.listaPelis.container{}
.listaPelis.container .target{position: relative;
    padding: 0;transition: all .3s;}
.listaPelis.container .target .panelOscuro{background: #000000c9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s;}
.listaPelis.container .target:hover .panelOscuro{opacity: 1;}




.listaPelis.container .target > img{width: 100%;}
.listaPelis.container .modal-body img{width: 50%;}
.listaPelis.container .modal-body{display: flex;}
.listaPelis.container .modal-body > div{width: 50%;display: flex;flex-direction: column;padding: 12px;}
.listaPelis.container .modal-body > div *{margin: auto;width: 100%}
.listaPelis.container .modal-body > div p{height: 50%;}







@media (min-width:765px){
#Caruselheader .carousel-caption h2{flex-direction: row;}
.headerPelis .content{flex-direction: row;}
.headerPelis .content > div {margin-top: auto;}


}
@media (min-width:1024px){
.headerPelis .content > div {font-size: 150%;padding: 15px;}



}